.singleTable,
.mergedTable {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: move;
    z-index: 9;
}

.singleTable:hover {
    border: 0.3rem solid #8f8f8fb5;
}

.mergedTable:hover {
    border: 0.3rem solid #e35042b5;
}