.singleTable,
.mergedTable,
.bookedTable,
.rotateBookedTable,
.rotate,
.resetRotate,
.resetRotateBookedTable {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: move;
    z-index: 9;
    border: 0.3rem solid rgba(255, 255, 255, 0);
}

.bookedTable,
.rotateBookedTable,
.resetRotateBookedTable {
    background-color: lightcoral;
}

.bookedTable:hover {
    border: 0.3rem solid rgb(243, 61, 61);
}

.singleTable:hover {
    border: 0.3rem solid #8f8f8fb5;
}

.mergedTable:hover {
    border: 0.3rem solid #7edb26b5;
}

.rotate:hover,
.rotateBookedTable:hover {
    border: 0.3rem solid #691a5fb5;
}

.resetRotate:hover,
.resetRotateBookedTable:hover {
    border: 0.3rem solid #2216d1b5;
}

.bookedTableDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}