.outerDiv {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: move;
    z-index: 9;
}

.toBeDeletedDiv {
    background-color: red;
}