.outerDiv {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 5rem 15rem 0.5rem 15rem;
}

.orderTitleDiv{
  display: flex;
  justify-content: center;
}

.tableInfo,
.ordina {
  padding: 0 1rem 0 1rem;
  margin: 1rem 0 2rem 0;
}

.checkBoxes {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.sectionDiv {
  background: lightgray;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: -0.5rem;
}

.tableInfoNomeConsegnaEOrario,
.numeroAdultiEBambini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 1rem 0 1rem 0;
}

.tableInfoNomeConsegnaEOrario>input {
  flex-grow: 2;
}

.slicedInDiv {
  display: flex;
  gap: 0.5rem;
  padding: 0.2rem 0 0 0.2rem;
}

.numeroAdultiEBambini {
  gap: 0.5rem;
}

.numeroAdultiEBambini>input {
  width: 100%;
}

.tableInfo>textarea{
  width: 100%;
}

.orderedItemsInCategoryDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.addItemToOrderDiv {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  padding: 2rem;
}

.orderedItemDiv {
  display: flex;
  flex-direction: column;
}

.ingredientsDiv {
  display: flex;
  flex-direction: column;
}

.line {
  border-top: 0.11rem solid black;
  width: 100%;
}

.thiPageH3 {
  margin: 0;
  font-size: 1.5rem;
}